* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}

html,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 6vh;
  background: #faefdd;
  color: #111;
  text-align: center;
  font-size: 10px;
  font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
}

.cell,
.empty {
  line-height: inherit;
  vertical-align: middle;
  text-shadow: rgba(255, 255, 255, 0.7) 1px 1px 1px, #fff -1px -1px 1px, #fff -1px 1px 1px, #fff 1px -1px 1px;
  text-align: center;
  cursor: pointer;
}

.btn {
  margin: 0.5rem 0.5rem 2rem;
  padding: 0.5rem;
  border: 3px solid #F1CDB3;
  border-radius: 3rem;
  background-color: #FDDCC4;
  text-align: center;
  color: #292929;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06rem;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.btn:hover {
  background-color: #F1CDB3;
  border-color: #F1CDB3;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.board_size {
  padding: 0.5rem;
  text-align: center;
  font-size: 2rem;
  border: 3px solid #F1CDB3;
  border-radius: 1.5rem;
  background-color: blanchedalmond;
}

.board_size:hover {
  background-color: #fff;
}

.board_size__label {
  font-size: 2rem;
  margin-right: 2rem;
}

.popup_wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(19, 19, 19, 0.51);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.popup_wrapper.open {
  opacity: 1;
  visibility: visible;
}

.popup {
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #FDDCC4;
}

.icon--close {
  font-size: 2.5rem;
  display: block;
  float: right;
  color: #f6f6f6;
}

.active {
  display: block;
}

.blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.board-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 60rem;
}

.txt {
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0.5rem;
}

@media (max-width: 620px) {
  body {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 570px) {
  body {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .board_size__label, .board_size, .btn {
    font-size: 2.3rem;
    margin: 1rem;
  }
  .board-wrapper {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (max-width: 430px) {
  .board-wrapper {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .wrapper {
    width: unset;
  }
}

@media (max-width: 350px) {
  .wrapper {
    width: unset;
  }
}
/*# sourceMappingURL=style.css.map */